<!DOCTYPE html>
<html>
<head>
  <title>Parcels</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link href="/css/parcels_stylesheet.css" rel="stylesheet" type="text/css">
</head>
<body>
  <h1>Your Parcel</h1>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
